<section class="content" style="top:50px; position: relative;">
	<div class="row">
		<div class="col s12 compensa">
			<div class="col s12" style="padding: 0 20px;">
				<style type="text/css">
					.span_forms{ padding: 0 10px; font-size: 16px;}
					.span_forms.ativo{ color: #444; }
					.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__date-display{background: #039be5;}
				</style>
				<ul class="tab" style="margin-top: 0;">
					<li class="tab col s12 " style="background-color: #f6f6f6; padding: 10px 5px; border-radius: 10px;" >
                        <a class="" href="@Url.Action("Dash", "Home")">
                            <span class="span_forms">Home</span>
                        </a>
						/
						<a class="" href="@Url.Action("frmBuscaCondominio")">
							<span class="span_forms">Buscar condominio</span>
						</a>	
						/						
						<a class="span_forms ativo" href="#">
							<span class="span_forms">Cadastrar condominio</span>
						</a>					
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col s12 " style="padding: 22px;">
					<div class="cadastroForm">
                        <form action="@Url.Action("CadastraCondominio")" method="post">
                            <h5 style="">Cadastro de condominío</h5>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <input id="obj.nome" type="text" class="validate">
                                    <label for="obj.nome">Nome</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="obj.cnpj" type="text" class="validate cnpj">
                                    <label for="obj.cnpj">CNPJ</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select id="obj.proprietario.nome" name="obj.proprietario.id_pessoa" required>
                                        <option value="" disabled selected>Selecione o proprietario</option>
                                        @foreach (var proprietario in ViewBag.lstPessoa)
                                        {
                                            <option value="@proprietario.id_pessoa">@proprietario.nome</option>
                                        }
                                    </select>
                                    <label for="obj.proprietario.nome" style="display:none;">Selecione o proprietario</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m3">
                                    <input id="obj.dataInauguracao" type="tel" class="validate date">
                                    <label for="obj.dataInauguracao">Data de inauguração</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <button class="btn botao">Salvar</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="fundo"></div>