<section class="content" style="top:50px; position: relative;">
	<div class="row">
		<div class="col s12 compensa">
			<div class="col s12" style="padding: 0 20px;">
				<style type="text/css">
					.span_forms{ padding: 0 10px; font-size: 16px;}
					.span_forms.ativo{ color: #444; }
					.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__date-display{background: #039be5;}
				</style>
				<ul class="tab" style="margin-top: 0;">
					<li class="tab col s12 " style="background-color: #f6f6f6; padding: 10px 5px; border-radius: 10px;" >
                        <a class="" href="@Url.Action("Dash", "Home")">
                            <span class="span_forms">Home</span>
                        </a>
						/
						<a class="" href="@Url.Action("frmBuscarAviso","FormsCondominio")">
							<span class="span_forms">Buscar Aviso</span>
						</a>	
						/						
						<a class="span_forms ativo" href="#">
							<span class="span_forms">Cadastrar Aviso</span>
						</a>					
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col s12 " style="padding: 22px;">
					<div class="cadastroForm">
                        <form action="@Url.Action("CadastrarAviso")" method="post">
                            <h5 style="">Cadastro de Aviso</h5>
                            <div class="row">
                                <div class="input-field col s12 m3">
                                    <input id="icon_prefix" type="text" name="obj.titulo" class="validate" required>
                                    <label for="icon_prefix">Título</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <select name="obj.cond.id_cond">
                                        @foreach (var cond in ViewBag.lstCond)
                                        {
                                            <option value="@cond.id_cond">@cond.nome</option>
                                        }
                                    </select>
                                    <label for="icon_prefix">Condominio</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <input type="text" id="icon_prefix" name="obj.data" class="validate date" required>
                                    <label for="icon_prefix">Data</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <input id="icon_prefix" type="text" name="obj.descricao" class="validate" required>
                                    <label for="icon_prefix">Descrição</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <input type="submit" name="name" value="" />
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="fundo"></div>