<section class="content " style="top:50px; position: relative;">
	<div class="row">
		<div class="col s12 compensa">
			<div class="col s12" style="padding: 0 20px;">
				<style type="text/css">
					.span_forms{ padding: 0 10px; font-size: 16px;}
					.span_forms.ativo{ color: #444; }
				</style>
				<ul class="tab" style="margin-top: 0;">
					<li class="tab col s12 " style="background-color: #f6f6f6; padding: 10px 5px; border-radius: 10px;" >
                        <a class="" href="@Url.Action("Dash", "Home")">
                            <span class="span_forms">Home</span>
                        </a>
						/
						<a class="span_forms ativo" >
							<span class="span_forms">Buscar correspondencia</span>
						</a>					
					</li>
				</ul>
			</div>
		</div>
	</div >
    <div class="row">
        <div class="col s12 compensa">
            <div class="col s12" style="padding: 0 20px;">
                <ul class="collapsible" data-collapsible="accordion" style="border:none; border-radius:10px; box-shadow: none; margin:0;">
                    <li style="background-color: #f6f6f6; padding:0 5px; border-radius: 10px;">
                        <div class="collapsible-header" style="background: transparent; border: none;">
                            <i class="material-icons">filter_list</i>
                            Filtro
                        </div>
                        <div class="collapsible-body">
                            <form action="/" method="post">
                                <div class="row">
                                    <div class="input-field col s12 m3">
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Unidade</label>
                                    </div>
                                    <div class="input-field col s12 m3">
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Data</label>
                                    </div>
                                    <div class="input-field col s12 m3">
                                        <input id="abertas" type="radio" class="validate">
                                        <label for="abertas">Abertas</label>
                                        <input id="fechadas" type="radio" class="validate">
                                        <label for="fechadas">Fechadas</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s3">
                                        <a class="btn botao">Filtrar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	<div class=" compensa">
		<section class="row gutter_form">
			<div class="row">
				<div class="col s12 " style="padding: 10px 0px; border-radius: 10px;">
					<div class="col s12" style="">
						<form class="">
							<div class="row">
								<div class="input-field col s12 m6 l4" style="top: 10px; position: relative;">
									<i class="material-icons prefix" style="font-size: 38px;">search</i>
									<input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Procure pelo unidade</label>
								</div>
							</div>
						</form>
						<div class="input-field col s5 m4 l3" style="top: -10px; position: relative;">
							<a  href="@Url.Action("frmCadastrarCorrespondencia", "FormsMorador")" class="btn botao" >Novo</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12 ">
					<div style="padding: 0 22px; overflow: scroll;" class="table_form" >
						<table class="striped datatable">
							<thead>
								<tr>
									<th>Unidade</th>
									<th>descCorrespondencia</th>
									<th>Data de Entrada</th>
									<th>Data de Saida</th>
						
								</tr>
							</thead>
                            <tfoot>
                                <tr>
                                    <th>Unidade</th>
                                    <th>descCorrespondencia</th>
                                    <th>Data de Entrada</th>
                                    <th>Data de Saida</th>

                                </tr>
                            </tfoot>
							<tbody>
                                @foreach (var corresp in ViewBag.lstCorres)
                                {
                                    <tr>
                                        <td>@corresp.unidade</td>
                                        <td>@corresp.descCorrespondencia</td>
                                        <td>@corresp.dtEntrada</td>
                                        <td>@corresp.dtSaida</td>
                                    </tr>
                                }
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</section>
	</div>
</section>
<div class="fundo"></div>