<section class="content" style="top:50px; position: relative;">
	<div class="row">
		<div class="col s12 compensa">
			<div class="col s12" style="padding: 0 20px;">
				<style type="text/css">
					.span_forms{ padding: 0 10px; font-size: 16px;}
					.span_forms.ativo{ color: #444; }
					.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__date-display{background: #039be5;}
				</style>
				<ul class="tab" style="margin-top: 0;">
					<li class="tab col s12 " style="background-color: #f6f6f6; padding: 10px 5px; border-radius: 10px;" >
                        <a class="" href="@Url.Action("Dash", "Home")">
                            <span class="span_forms">Home</span>
                        </a>
						/
						<a class="" href="@Url.Action("frmBuscarUnidade")">
							<span class="span_forms">Buscar unidade</span>
						</a>	
						/						
						<a class="span_forms ativo" href="#">
							<span class="span_forms">Cadastrar unidade</span>
						</a>					
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col s12 " style="padding: 22px;">
					<div class="cadastroForm">
                        <form action="@Url.Action("CadastrarUnidade")" method="post">
                            <h5 style="">Cadastro de unidade</h5>
                            <div class="row">
                                <div class="input-field col s12 m3">
                                    <input id="obj.identificacao" type="text" name="obj.identificacao" class="validate" required>
                                    <label for="obj.identificacao">Identificação</label>
                                </div>

                                <div class="input-field col s12 m3">
                                    <select id="obj.proprietario.nome" name="obj.proprietario.nome" required>
                                        <option value="" disabled selected>Selecione o proprietario</option>
                                        @foreach (var proprietario in ViewBag.lstPessoa)
                                        {
                                            <option value="@proprietario.id_pessoa">@proprietario.nome</option>
                                        }
                                    </select>
                                    <label for="obj.proprietario.nome" style="display:none;">Selecione o proprietario</label>
                                </div>

                                <div class="input-field col s12 m3">
                                    <select id="obj.bloco.nome" name="obj.bloco.nome" required>
                                        <option value="" disabled selected>Selecione o bloco</option>
                                        @foreach (var bloco in @ViewBag.lstBloco)
                                        {
                                            <option value="@bloco.id_bloco">@bloco.nome</option>
                                        }
                                    </select>
                                    <label for="obj.bloco.nome" style="display:none;">Selecione o bloco</label>
                                </div>

                                <div class="input-field col s12 m3">
                                    <input id="obj.vagas" type="number" name="obj.vagas" class="validate">
                                    <label for="obj.vagas">Quantidade de veiculos</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <button class="btn botao">Salvar</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="fundo"></div>